<h1>Listing jobs</h1>

<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.job.id') %></th>
      <th><%= t('activerecord.attributes.job.tool') %></th>
      <th><%= t('activerecord.attributes.job.target_file_1') %></th>
      <th><%= t('activerecord.attributes.job.target_file_2') %></th>
      <th><%= t('activerecord.attributes.job.reference_genome') %></th>
      <th><%= t('activerecord.attributes.job.comment') %></th>
      <th><%= t('activerecord.attributes.job.status') %></th>
      <th><%= t('activerecord.attributes.job.started_at') %></th>
      <th><%= t('activerecord.attributes.job.finished_at') %></th>
      <th colspan="4"><%= t('messages.action') %></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.tool %></td>
        <td><%= job.target_file_1.file.try(:filename) if job.target_file_1 %></td>
        <td><%= job.target_file_2.file.try(:filename) if job.target_file_2 %></td>
        <td><%= job.reference_genome %></td>
        <td><%= job.comment %></td>
        <td><%= Job::STATUS[job.status] %></td>
        <td><%= job.started_at.strftime('%Y/%m/%d %H:%M') if job.started_at %></td>
        <td><%= job.finished_at.strftime('%Y/%m/%d %H:%M') if job.finished_at %></td>
        <td>
          <%= link_to t('messages.schedule'), schedule_job_path(job) if schedulable job %>
          <%= link_to t('messages.cancel'), cancel_job_path(job) if cancelable job %>
        </td>
        <td><%= link_to t('messages.show'), job %></td>
        <td><%= link_to t('messages.edit'), edit_job_path(job) if editable job %></td>
        <td><%= link_to t('messages.delete'), job, method: :delete, data: { confirm: 'Are you sure?' } if deletable job %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="col-md-1">
    <%= link_to t('messages.new_job'), new_job_path, class: "btn btn-primary" %>
  </div>
</div>
