<h1>Listing jobs</h1>

<table>
  <thead>
    <tr>
      <th>Tool</th>
      <th>Target File 1</th>
      <th>Target File 2</th>
      <th>Reference File 1</th>
      <th>Reference File 2</th>
      <th>Comment</th>
      <th>Status</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.tool %></td>
        <td><%= job.target_file_1 %></td>
        <td><%= job.target_file_2 %></td>
        <td><%= job.reference_file_1 %></td>
        <td><%= job.reference_file_2 %></td>
        <td><%= job.comment %></td>
        <td><%= job.status %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Delete', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
