<H1>Job Detail</H1>

<div class="row">
  <div class="col-md-2">
    <%= t('activerecord.attributes.job.id') %>
  </div>
  <div class="col-md-2">
    <%= @job.id %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-2">
    <%= t('activerecord.attributes.job.tool') %>
  </div>
  <div class="col-md-2">
    <%= @job.tool %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-2">
    <%= t('activerecord.attributes.job.target_file_1') %>
  </div>
  <div class="col-md-4">
    <%= @job.target_file_1.file.try(:filename) if @job.target_file_1 %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-2">
    <%= t('activerecord.attributes.job.target_file_2') %>
  </div>
  <div class="col-md-4">
    <%= @job.target_file_2.file.try(:filename) if @job.target_file_2 %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-2">
    <%= t('activerecord.attributes.job.reference_genome') %>
  </div>
  <div class="col-md-2">
    <%= @job.reference_genome %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-2">
    <%= t('activerecord.attributes.job.comment') %>
  </div>
  <div class="col-md-4">
    <%= @job.comment %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-2">
    <%= t('activerecord.attributes.job.results') %>
  </div>
</div>
<% (@job.result_files.presence || []).each_with_index do |file, i| %>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-4">
    <%= link_to file, download_jobs_result_file_path(file_name: file) %>
  </div>
</div>
<% end %>

<br/>

<div class="row">
  <div class="col-md-2">
    <%= t('activerecord.attributes.job.status') %>
  </div>
  <div class="col-md-2">
    <%= Job::STATUS[@job.status] %>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-1">
    <%= link_to t('messages.edit'), edit_job_path(@job), class: "btn btn-default" %>
  </div>
  <div class="col-md-1">
    <%= link_to t('messages.back'), jobs_path, class: "btn btn-default" %>
  </div>
</div>
